body {
  margin: 0;
  font-family: monospace;
  /* font-family: "Dosis", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  height: 1000px;
  background: #f5f5f5;
}

@media (prefers-reduced-motion: no-preference) {
  .Dice-Style-Animation {
    animation: Dice-Style-Animation-spin 0.2s infinite;
    animation-iteration-count: 1;
  }
}

@keyframes Dice-Style-Animation-spin {
  0% {
    transform: rotate3d(1, 5, 1, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 20, 180deg);
  }
  100% {
    transform: rotate3d(1, 1, 20, 360deg);
  }
}
